sourceDir = "~/Documents/dotfiles/chezmoi"

[data]
    name = "{{- promptString "Name" -}}"
    personal_email = "{{- promptString "Personal email" -}}"
    work_email = "{{- promptString "Work email" -}}"
    school_username = "{{- promptString "School username" -}}"
