#window {
    background-color: --wofi-color0;
    color: --wofi-color1;
    border: 2px solid --wofi-color2;
    font-family: "MonaspiceNe Nerd Font";
    font-size: 18px;
}

#input {
    background-color: transparent;
    color: --wofi-color1;
    border: 2px solid --wofi-color2;
    border-radius: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#entry, expander #entry {
    background-color: transparent;
    margin-left: 16px;
}

#entry:nth-child(odd) {
    background-color: rgba(127, 127, 127, 0.08);
}

list {
    background-color: transparent;
}

expander {
    margin-left: -16px;
}

#entry:selected {
    background-color: --wofi-color2;
    border: 0px;
    border-radius: 0px;
}

#img {
    min-width: 30px;
    margin-right: 5px;
}
